<div class="filters">
  <a (click)="filter('')" class="all-filter">
    <img src="{{ assets.all_products }}" alt="All Products" />
    <h5 [ngClass]="{ selected: selectedItem === '' }">All Products</h5>
  </a>
  <a (click)="filter('electronics')" class="electronic-filter">
    <img src="{{ assets.electronics_products }}" alt="Electronics" />
    <h5 [ngClass]="{ selected: selectedItem === 'electronics' }">
      Electronics
    </h5>
  </a>
  <a (click)="filter('fashion')" class="fashion-filter">
    <img src="{{ assets.fashion_products }}" alt="Fashion" />
    <h5 [ngClass]="{ selected: selectedItem === 'fashion' }">Fashion</h5>
  </a>
  <a (click)="filter('jewelery')" class="jewellery-filter">
    <img src="{{ assets.jewellery_products }}" alt="Jewellery" />
    <h5 [ngClass]="{ selected: selectedItem === 'jewelery' }">Jewellery</h5>
  </a>
</div>
<div class="products-container">
  <div
    *ngFor="let product of filteredList | filter : searchedTerm : 'title'"
    class="products-list"
  >
    <div
      *ngIf="cartService.totalProductAfterFilter.value > 0"
      class="product-card"
    >
      <div class="image">
        <img src="{{ product.image }}" alt="{{ product.title }}" />
      </div>
      <h5 class="name">{{ product.title }}</h5>
      <p class="description">{{ product.description }}</p>
      <p class="price">
        Price: <span> $ {{ product.price }}</span>
      </p>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
  </div>
</div>
<div
  *ngIf="
    cartService.totalProductAfterFilter.value === 0 &&
    this.cartService.searchedTerm.value !== ''
  "
  class="no-result-found"
>
  <img
    src="https://cdn.dribbble.com/users/898770/screenshots/3744292/search-bar.gif"
  />
</div>
