<div class="navbar">
  <div class="left-navbar">
    <div class="brand" [routerLink]="'/products'">
      <fa-icon class="brand-logo" [icon]="faTruckFast"></fa-icon>
      <p class="brand-name">Apna Store</p>
    </div>
    <div class="search">
      <input
        type="text"
        placeholder="Search Products"
        [(ngModel)]="searchedTerm"
        (keyup)="search($event)"
      />
    </div>
  </div>
  <div class="cart" [routerLink]="'/cart'">
    <fa-icon class="cart-icon" [icon]="faCartShopping"></fa-icon>
    <span class="badge">{{ totalCartItem }}</span>
  </div>
</div>
